.navbar {
  background-color: #343a40; /
}

.nav-link {
  color: #ffffff !important; 
  margin-right: 10px; 
}

.nav-link:hover {
  color: #ffcc00 !important; 
}

.navbar-brand {
  margin-right: 20px; 
}

.cart-widget {
  display: flex;
  align-items: center;
  margin-left: auto; 
}


@media (max-width: 767px) {
  .navbar-nav {
    text-align: center; 
    margin-top: 10px; 
  }

  .navbar-toggler {
    border-color: #ffffff; 
  }
}