.item-card {
    max-width: 300px; 
    height: 100%; 
    border-radius: 15px; 
    overflow: hidden; 
    transition: transform 0.3s ease-in-out;
    margin: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .item-card:hover {
    transform: scale(1.05);
  }
  
  .card-img-top {
    object-fit: cover; 
    height: 200px; 
  }
  
  .card-title {
    font-size: 1.2rem; 
    font-weight: bold; 
  }
  
  .card-text {
    font-size: 1rem; 
    color: #555; 
  }
  