/* Item.css */
.item-card {
    max-width: 300px; /* Ancho máximo de la tarjeta */
    height: 100%; /* Altura de la tarjeta */
    border-radius: 15px; /* Bordes redondeados para un aspecto más suave */
    overflow: hidden; /* Ocultar cualquier contenido que pueda sobresalir */
    transition: transform 0.3s ease-in-out;
    margin: 5px; /* Margen entre tarjetas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .item-card:hover {
    transform: scale(1.05); /* Efecto de escala al pasar el mouse */
  }
  
  .card-img-top {
    object-fit: cover; /* Ajustar la imagen dentro de la tarjeta */
    height: 200px; /* Altura fija de la imagen */
  }
  
  .card-title {
    font-size: 1.2rem; /* Ajustar tamaño del título */
    font-weight: bold; /* Texto en negrita para destacar */
  }
  
  .card-text {
    font-size: 1rem; /* Ajustar tamaño del texto */
    color: #555; /* Color de texto más oscuro */
  }
  